/*GENERAL*/
html{
    height: 100%;
    width: 100%;
}

/*-----------------------------------------------------------------------------------------------*/
/*NAV*/

.formSearch{
    display: flex!important;
    margin-top: 0em;
}

.inputSearch{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.iS2{
    margin-right: .5rem!important;
}

.navColor{
    background-color: #1d7564;
}

.containerNav{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-left: 3rem;
    margin-right: 3rem;
}

.navLogo{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.navWord{
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    font-weight: bold;
    display: block;
    transform: none;
    color: #fff;
}

/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
/*CARDS*/

.Mediacards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.crds{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.fo{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center!important;
}

@media only screen and (min-width: 900px) {
    .Mediacards{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
    }
    .crds{
        width: 50em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fo{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center!important;
    }
  }

.cardMine{
    background-color: #06060e;
    color: white;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}

.containerCard{
    flex: 1 1 auto;
    padding: 1em 1em;
}

.cardPicHero{
    width: 100%;
}

/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
/*HERO DETAILS*/
.infoHero{
    padding: 2.5em;
    border: 2.5em;
}

.imgHero{
    width: 100%;
    height: 500px;
    padding: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25%;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
/*FOOTER*/
.footer{
    background-color: #1d7564;
    color: #fff;
    padding: 3.5em;
    font-family: 'Playfair Display', arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}

.parrafo a{
    color: #06060e;
}

/*-----------------------------------------------------------------------------------------------*/