.contentPage{
    max-width: 900px;
}

.containerGrid{
    display: grid;
    margin-top: 3.5rem;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.navMine{
    background-color: #1d7564;

}

.card{
    background-color: #06060e;
    color: white;
}
.contentNav{
    margin-left: 3rem;
    margin-right: 3rem;
}

.brand{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.navown{
    text-decoration: none;
    font-weight: bold;
    display: block;
    transform: none;
    color: #fff;
    }